ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.main-nav {
	@include flexBox();
	height: $nav-height;
	position: fixed;
	width: 100%;
	z-index: 200;
	background: linear-gradient(#232526, transparent 80%);
	
	ul.menu {
		@include flexBox();
		text-align: center;
		
		li {
			a {
				@include tradeGothic(1.8rem);
				padding: 1.65rem;
				&:hover{
					color: red;
					transition: 0.4 ease all;
				}
			}
		}
	}
}

.secondary-nav {
	width: 25rem;
	padding: 2rem;
	border: 3px solid $main-text;
	height: 20rem;
	margin-right: 3rem;
	
	ul.menu li {
		a {
			@include tradeGothic(1.6rem);
			padding: 1.75rem 0 0;
			display:block;
		}
	}
}
