ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.main-nav {
	@include flexBox();
	height: $nav-height;
	position: fixed;
	width: 100%;
	z-index: 200;
	background: linear-gradient(#232526, transparent 80%);
	
	ul.menu {
		@include flexBox();
		text-align: center;
		
		li {
			a {
				@include tradeGothic(1.8rem);
				padding: 1.65rem;
				border-bottom: 2px solid transparent;
				transition: border-color 0.4 ease;
				// position:relative;
				// &::after {
				// 	content: "";
				// 	border-bottom: 1px solid white;
				// 	position: absolute;
				// 	top: 10px;
				// 	width:10px;
				// 	height: 10px;
				// 	background: white;
				// }
				&:hover{
					border-color: white;
				}
			}
		}
	}
}

.secondary-nav {
	width: 25rem;
	padding: 2rem;
	border: 3px solid $main-text;
	height: 20rem;
	margin-right: 12rem;
	
	ul.menu li {
		a {
			@include tradeGothic(1.6rem);
			padding: 1.75rem 0 0;
			display:block;
		}
	}
}
