html {
	font-size: 10px;
}

body {
	color: white;
	background: black;
	margin:0;
	padding:0;
}

.wrapper {
	max-width: 1140px;
	width: 70%;
	margin: 0 auto;
}

/*
====================================
HEROS
====================================
*/

.hero {
    height: $header-height;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    h1{
    	@include debbyText(8.8rem);
    	text-transform: lowercase;
    }
}

.secondary {
	h1 {
		font-size: 18.6rem;
	}
}

.header-content {
	@include flexBox();
	flex-direction: column;
	padding-top: $nav-height;
	height: 100%;
}

.logo-wrapper {
	width: 28rem;
}

img {
	width: 100%;
}

/*
====================================
ABOUT US
====================================
*/

.about-us {
	h4 {
		@include debbyText(18.6rem);
		float:left;
		text-transform: lowercase;
	}
}

.about-img {
	height: 60vh;
}

.about-content {
	width: 65%;
	background: black;
	height: 60vh;
	position: relative;
	float:right;
}

/*
====================================
SERVICE MENU
====================================
*/
.service-menu {
	padding: 8rem 0;
	
	.wrapper {
		@include flexBox();
		align-items: flex-start;
	}
	
	.right-hand-menu {
		width: 58%;
		height: 60rem;
		overflow-y: scroll;
		background: red;
	}
}

/*
====================================
SOCIAL CONTAINER
====================================
*/

.social-link-container {
	@include flexBox();
	.social-link {
		@include flexBox();
		width: 4.3rem;
		height: 4.3rem;
		border-radius: 50%;
		border: 1px solid white;
		margin-right: 1.8rem;
		&:last-of-type {
			margin-right: 0;
		}
		i {
			font-size: 1.6rem;
			color: white;
		}
	}
}

/*
====================================
MANTRA
====================================
*/

.mantra {
	height: 100vh;
	background-size: cover;
    // background-attachment: fixed;
	border: 2.8rem solid white; 
	@include flexBox();

	h4 {
		@include debbyText(13.5vw);
		line-height: 11.95vw;
	}
}

.secondary.mantra {
	height:58vh;
	background-attachment: fixed;
	h4 {
		font-size: 8.5vw;
		line-height: 7.06vw;
	}
	
}

/*
====================================
CALL TO ACTION
====================================
*/
.call-to-action {
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	.wrapper {
		@include flexBox();
		flex-direction: column;
		height:100%;
		text-align:center;
	}
}

/*
====================================
BLOG
====================================
*/

.secondary.hero {
	height: 65vh;
}

.blog-body {
	padding: 8rem;
	background-color: #ECECEC;
	
	.wrapper {
		@include flexBox();
		flex-direction: row;
		align-items: top;
	}
	
	.main-posts-container {
		width: 70%;
		margin-right: 2rem;
	}

	aside {
		width: 30%;
		background: blue;
	}

	.main-post {
		margin-bottom: 2rem;
		padding: 4rem;
		background-color: white;
		color: black;
		text-align: center;
		
		& :first-child {
			margin-top: 0;
		}

		& :last-of-type {
			margin-bottom: 0;
		}

		h2 {
			@include navText(3.6rem);
			font-family: $tradegothic;
			color: black;
			letter-spacing: -0.025rem;
		}

		p {
			text-align: left;
		}
	}

}