/*
====================================
GENERAL STYLES
====================================
*/

html {
	font-size: 10px;
}

body {
	color: white;
	background: black;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	outline: 0;
}

img {
	width: 100%;
}

.wrapper {
	max-width: 1140px;
	width: 70%;
	margin: 0 auto;
}

.wrapper-2 {
	max-width:940px;
	width: 50%;
	margin: 0 auto;
	@include flexBox();
	flex-direction: column;
	// height:100%;
	text-align:center;
	h2 {
		@include tradeGothic(3rem);
		position: relative;
		&::after {
			content: "-";
			position: absolute;
			font-family: Debby;
			font-size: 4.6rem;
			top: 31%;
			left: 50%;
			font-weight: 100;
			transform: translateX(-50%);
		}
	}
	p {
		@include sentText(1.5rem);
		line-height: 2.3rem;
		letter-spacing: 0.05rem;
		margin-top: 3rem;
		margin-bottom: 1.5rem;
	}
}

/*
====================================
HEROS
====================================
*/

.hero {
    height: $header-height;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;

    h1{
    	@include debbyText(8.5rem);
    	text-transform: lowercase;
    	opacity: 1;
    	margin: 0;
    }
}


.secondary {
	h1 {
		font-size: 18.6rem;
	}
}

.header-content {
	@include flexBox();
	flex-direction: column;
	padding-top: $nav-height;
	height: 90%;
}

.logo-wrapper {
	width: 27rem;
}

img {
	width: 100%;
}

.black-container {
	border: 2px solid white;
	padding: 5.5rem 7rem;
	margin-top: 20rem;
	position: relative;
	z-index: 100;
	&::after {
		content: "";
		position: absolute;
		background: #000;
		opacity: .6;
		display: block;
		top: -1.6rem;
		left: -1.6rem;
		right: 1.6rem;
		bottom: 1.6rem;
		z-index: -20;
	}
}
/*
====================================
ABOUT US
====================================
*/

.about-us {
	height: 140vh;
	@include flexBox();
	position: relative;

	h4 {
		@include debbyText(18.6rem);
		text-transform: lowercase;
	}

	.images {
		width: 42%;
	}

	.about-image {
		height: 70vh;
		width: 100%;
	}

	.about-dark {
		width: 58%;
	}

	.about-info {
		height: 100%;
		width: 70%;
		margin: 0 auto;
		position: absolute;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		z-index: 5;

		.about-wrapper {
			width: 50%;
			margin-right: 5rem;
		}

		.about-main {
			h2 {
				margin-bottom: 2.5rem;
				font-family: $tradegothic;
				font-size: 5rem;
				text-transform: uppercase;
			}

			p {
				font-family: $proxima;
				font-size: 1.65rem;
				line-height: 2.75rem;
			}
		}

		.about-social {
			margin-top: 10rem;
			text-align: center;

			hr {
				border: none;
				height: 1px;
				background: white;

				&:first-child {
					margin-bottom: 4rem;
				}

				&:last-of-type {
					margin-top: 4rem;
				}
			}

			h2, h5 {
				font-family: $tradegothic;
				font-size: 2.5rem;
				text-transform: uppercase;
			}

			h5 {
				line-height: 0;
				margin: 2rem;
			}

			p {
				font-size: 1.25rem;
			}
		}
	}
}

/*
====================================
SOCIAL CONTAINER
====================================
*/
.social-link-container {
	margin-top: 2.5rem;
	@include flexBox();

	a {
		margin-right: 1.8rem;
		text-decoration: none;
		
		&:last-of-type {
			margin-right: 0;
		}
	}

	.social-link {
		@include flexBox();
		width: 4.8rem;
		height: 4.8rem;
		border-radius: 50%;
		border: 1px solid white;

		i {
			font-size: 1.8rem;
			color: white;
		}
	}
}

/*
====================================
SERVICE MENU
====================================
*/

.service-menu {
	padding: 8rem 0;
	
	.wrapper {
		@include flexBox();
		align-items: flex-start;
	}
	
	.right-hand-menu {
		width: 58%;
		height: 60rem;
		overflow-y: scroll;
		background: red;
	}
}

/*
====================================
MANTRA
====================================
*/

.mantra {
	height: 100vh;
	background-size: cover;
    background-attachment: fixed;
	border: 2.8rem solid white; 
	@include flexBox();

	h4 {
		@include debbyText(13.5vw);
		line-height: 11.95vw;
	}
}

.secondary.mantra {
	height:58vh;
	background-attachment: fixed;
	h4 {
		font-size: 8.5vw;
		line-height: 7.06vw;
	}
	
}

/*
====================================
CALL TO ACTION
====================================
*/

.call-to-action {
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;

	.black-container {
		margin: 0;
	}
	.wrapper-2 {
		height: 100%;
	}
}

/*
====================================
CONTACT
====================================
*/

.contact {
	.wrapper {
		padding-top: 8rem;
		.sub-head {
			text-align: center;
			@include tradeGothic(3.4rem);
			color: #282828;
			position: relative;
			// &::after {
			// 	content: "-";
			// 	position: absolute;
			// 	font-family: Debby;
			// 	font-size: 4.6rem;
			// 	top: 31%;
			// 	left: 50%;
			// 	font-weight: 100;
			// 	transform: translateX(-50%);
			// }
		}
	}
	
	.img-wrapper {
		width: 40rem;
	}
}

.contact-container {
	display:flex;
	align-items: flex-start;
	margin: 9rem 0;
	position: relative;
	
	&::after {
		content: "";
		border-bottom: 1px solid #fff;
		position: absolute;
		width: 100%;
		bottom: -4.5rem;
		opacity: 0.2;
	}
	
	&:last-of-type {
		&::after {
			content: "";
			display: none;
		}
	}
	
	&:nth-child(1) {
		margin: 6rem 0;
	}
}


.contact-info {
	text-align: left;
	margin-left: 5.5rem;
	h2 {
		@include tradeGothic(8rem);
	}
	h3 {
		@include tradeGothic(4.2rem);
		margin: 0.5rem 0 0;
		line-height: 1.4rem;
	}
	p {
		@include sentText(1.7rem);
		line-height: 2.8rem;
		letter-spacing: 0.05rem;
		margin: 0;
	}
}

.contact-specific {
	margin: 5rem 0 2.5rem;
	p:nth-child(2) {
		font-style: italic;
	}
}

/*
====================================
BLOG
====================================
*/

.secondary.hero {
	height: 65vh;
}

.blog-body {
	padding: 8rem;
	background-color: #ECECEC;
	
	.wrapper {
		@include flexBox();
		flex-direction: row;
		align-items: flex-start;
	}
	
	.main-posts-container {
		width: 70%;
		margin-right: 2rem;
	}

	aside {
		width: 30%;
		background: white;
		color: black;
		padding: 4rem;

		h2 {
			margin-bottom: 2rem;
			font-family: $tradegothic;
			text-transform: uppercase;
			font-size: 1.75rem;
		}

		a {
			display: block;
			padding: 0.75rem 0;
			font-family: $proxima;
			font-size: 1.3rem;
			color: #898989;
		}

		a.active {
			color: green;
		}

		hr {
			height: 1px;
			background-color: #898989;
			border: none;

			&:last-of-type {
				display: none;
			}
		}
	}

	.main-post {
		margin-bottom: 2rem;
		padding: 4rem;
		background-color: white;
		color: black;
		text-align: center;
		
		&:first-child {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		h2 {
			@include tradeGothic(3.6rem);
			color: black;
			letter-spacing: -0.025rem;
		}

		h4 {
			font-family: $proxima;
			font-size: 1.15rem;
			font-weight: 700;
			text-transform: uppercase;
			color: #898989;

			span {
				color: #000000;
				font-style: italic;
			}
		}

		.img-wrapper {
			margin: 2rem 0;
			width: 100%;

			img {
				max-width: 100%;
				display: block;
			}
		}

		p {
			text-align: left;
			font-family: $proxima;
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}
}

/*
====================================
CTAS
====================================
*/

.cta-wrapper {
	width: 100%;
	margin: 1.5rem auto 0;
	a {
		@include proxima(1.2rem);
		font-weight: 700;
		text-decoration: none;
	}
}
