@font-face {
	font-family: "Trade Gothic";
	src: url('fonts/TradeGothicLTStd-BdCn20.otf') format("opentype");
}

@font-face {
	font-family: "Debby";
	src: url('fonts/Debby.otf') format("opentype");
}

@font-face {
	font-family: "Sentinel-Light";
	src: url('fonts/Sentinel/Sentinel-Light.otf') format("opentype");
}

@font-face {
	font-family: "Sentinel-Medium";
	src: url('fonts/Sentinel/Sentinel-Medium.otf') format("opentype");
}

@font-face {
	font-family: "Sentinel-Medium-Italic";
	src: url('fonts/Sentinel/Sentinel-MediumItal.otf') format("opentype");
}

// FONTS //
$tradegothic: "Trade Gothic";
$debby: "Debby";
$proxima: 'proxima nova', sans-serif;
$sentLight: "Sentinel-Light";
$sentMed: "Sentinel-Medium";
$sentMedIt: "Sentinel-Medium-Italic";

// COLORS //
$main-text: #ffffff;

// HEADER //
$nav-height: 10vh;
$header-height: 180vh;

